*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
    height: 100vh;
    background: rgb(182, 182, 185);
    background-position: center;
    background-size: cover;
}
nav{
    width: 100%;
    height: 10%;
    display:flex;
    justify-content: space-between;
    align-items:center;
    background:rgb(124, 124, 164);
    padding:1rem ;

}
.logo{
    display: flex;
}
.logo img{
    width: 50px;
    height: 50px;
    margin-right: 1rem;
}
.logo h1{
font-size: 1rem;
text-transform:uppercase;
}
.menulinks ul{
    display: flex;

}
.menulinks ul li{
    list-style: none;
    margin-right: 1rem;
    display:block;
}
.menulinks ul li a{
    color: brown;
    text size:4rem;
    text-transform: uppercase;
    text-decoration: none;
}